.player-music {
    background-color: #0f172a;
    height: 6rem;
}

.rhap_time,
.rhap_current_time {
    color: #fff !important;
}

.pointer {
    cursor: pointer;
}

::selection {
    background-color: #fff;
}