.lyrics {
    width: 234px;
    height: 362px;
    text-align: center;
    margin: 0 auto;
    overflow-y: auto;
    line-height: 2.5;
    cursor: default;
}

.lyric-title {
    position: relative;
}

.lyric-title span {
    position: absolute;
    content: ">";
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
}

@media (max-width: 460px) {
    .lyrics {
        display: none;
    }
}