.lyrics {
    width: 234px;
    height: 362px;
    text-align: center;
    margin: 0 auto;
    overflow-y: auto;
    line-height: 2.5;
    cursor: default;
}

.lyric-title {
    position: relative;
}

.lyric-title:after {
    content: "";
}

@media (max-width: 460px) {
    .lyrics {
        display: none;
    }
}