.lyrics {
    width: 234px;
    height: 362px;
    text-align: center;
    margin: 0 auto;
    overflow-y: auto;
    line-height: 2.5;
    cursor: default;
}

.lyric-title {
    position: relative;
}

.lyric-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 2px;
    height: 2px;
    background: #000;
    bottom: 0;
    
}

@media (max-width: 460px) {
    .lyrics {
        display: none;
    }
}
